{%  extends "personal/header.html" %}

{% block content %}
    <form action="{% url 'form' %}" method="post">
        <div class="form-group">
            {% csrf_token %}
            <div class="col-lg-9">
                <input type="text" class="form-control" name="userinput" placeholder="Please enter 140 characters or less and we'll predict your mood!" />
            </div>
            <div class="col-lg-3">
            <button type="submit" class="btn btn-primary">Get My Emotion!</button>
            </div>
        </div>
    </form>
{% endblock  %}